@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Comfortaa:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --background-color: #e9eeff;
    --border-color: #323250;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    font-family: Montserrat, sans-serif;
}

#navbar {
    position: fixed;
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    z-index: 2;
    height: fit-content;
    flex-direction: row;
    align-items: flex-start;
    gap: 3rem;
}

#logo {
    position: fixed;
    z-index: 2;
    width: 12rem;
    padding: 1.2rem;
    border-bottom-right-radius: 40px;
    background-color: #333;
}

#navbar-wrap {
    display: inline-flex;
    right: 0;
    top: 0;
    position: fixed;
    border-bottom-left-radius: 20px;
    background-color: rgb(18, 123, 62);
    width: 75%;
    height: 5rem;
    min-width: fit-content;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
}

#search-bar {
    display: inline-flex;
    justify-content: center;
    width: fit-content;
    margin: 0.5rem;
    height: 2rem;
    align-items: center;
}
#search-bar input[type="text"] {
    padding: 0.5rem;
    border-radius: 15px;
    margin-right: 0.2rem;
    border: 2px solid var(--border-color);
    width: 40vw;
    min-width: 20rem;
    font-family: Montserrat, sans-serif;
}
#search-bar button {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    padding: 1rem;
    border: none;
    border-radius: 15px;
    background-color: transparent;
    width: 1rem;
    height: 1rem;
    cursor: pointer;

    transition: background-color 0.3s ease-in-out;
}
#search-bar button:hover {
    background-color: #AAA !important;
}
#search-bar .search-button {
    margin-left: -2.5rem;
}

#shopping-cart {
    background-color: var(--background-color) !important;
    margin-left: 0.5rem;
    border: 2px solid var(--border-color) !important;
    width: fit-content !important;
    white-space: nowrap;
}
#shopping-cart label {
    font-size: 0;
    color: var(--border-color);
    transition: font-size 0.3s ease-in-out !important;
}
#shopping-cart:hover label {
    margin-left: 0.5rem;
    font-size: 1rem;
}

#search-bar img {
    height: 1rem;
    background-color: transparent;
}

#navbar-wrap .widgets {
    display: inline-flex;
    justify-content: space-evenly;
    width: 20rem;
}
#navbar-wrap .widgets a {
    font-size: 1rem;
    text-transform: uppercase;
    color: var(--background-color);
    text-decoration: none;
    letter-spacing: 0;
    cursor: pointer;
    transition: text-decoration 0.3s ease-in-out,
                letter-spacing 0.3s ease-in-out;
}
#navbar-wrap .widgets a:hover {
    text-decoration: underline;
    letter-spacing: 0.25rem;
}


#slider-container {
    display: inline-flex;
    position: relative;
    margin-top: 10rem;
    width: 100%;
    height: fit-content;
    justify-content: center;
    border-radius: 10px;
}
#slides {
    display: grid;
    width: 80vw;
    min-width: 80rem;
    height: 45vh;
    min-height: 40rem;
    overflow: hidden;
    align-items: center;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
}
#slides .slide {
    grid-area: 1 / 1;
    opacity: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    translate: 0 -30%;
    transition: opacity 0.3s ease-out;
}
#slides .active {
    opacity: 1;
}

#slide-overlay {
    position: absolute;
    display:inline-flex;
    flex-direction: column;
    align-items: center;
    width: 25rem;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 70px;
    padding: 1rem;
    background-color: var(--background-color);
}

#slide-overlay h1 {
    font-size: 4rem;
    font-family: "Times New Roman", sans-serif;
}
#slide-overlay p {
    font-size: 1.5rem;
}
#slide-overlay button {
    margin-top: 1.25rem;
    translate: -3rem;
    width: 10rem;
    border:none;
    cursor: pointer;
}
#slide-overlay button:hover {
    animation: wiggle 0.6s ease;
}
@keyframes wiggle {
    0%      {transform: rotate(0deg)}
    25%     {transform: rotate(-5deg)}
    50%     {transform: rotate(5deg)}
    75%     {transform: rotate(-3deg)}
    100%    {transform: rotate(0deg)}
}
#slider-container hr {
    position: absolute;
    width: 60%;
    height: 0.1rem;
    bottom: -6rem;
    border: 2px solid var(--border-color);
    border-radius: 10px;
    margin: 2rem 0;
}

#dropdown-menu {
    display: none;
    position: absolute;
    z-index: 3;
    width: 50rem;
    height: 30rem;
    top: 5rem;
    left: 0;

    background-color: white;
    border: 2px solid var(--border-color);
    border-radius: 0 0 50px 50px;
}
#dropdown-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;

    width: 100%;
    height: 100%;
}
#dropdown-grid .cell {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    align-items: center;
}
#dropdown-grid .cell img {
    width: 6rem;
    height: auto;
}
#dropdown-grid .cell:hover p {
    text-decoration: underline;
}
#info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    padding-top: 10rem;
}
#info img {
    margin-left: 5%;
    width: 90%;
    border-radius: 15px;
}
#info img:nth-child(2) {transform: rotate(-10deg);}
#info img:nth-child(4) {transform: rotate(7deg);}
#info img:nth-child(6) {transform: rotate(-3deg);}

.info-card {
    position: sticky;
    display: inline-flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    max-width: 20rem;
    height: 30rem;
    background-color: #222;
    border-radius: 25px;
    padding: 1rem;
    margin: 2rem 2rem 4rem 4rem;

    background-image: radial-gradient(
            rgba(255, 255, 255, 0.1) 1px,
            transparent 3px
    );
    background-position: 50% 50%;
    background-size: 2rem 2rem;

    color: white;
    box-shadow: #111 0.5rem 0.5rem 1rem 0;
}

.info-card h1 {
    margin-top: 1rem;
    font-size: 2rem;
    text-transform: uppercase;
    box-shadow: none !important;
}
.info-card hr {
    width: 60%;
    border-top: 2px solid #555;
    margin: 2rem 0;
    transition: width 0.3s ease-in-out;
    box-shadow: none !important;
}
.info-card:hover hr {
    width: 80%;
}
.info-card p {
    font-size: 1.25rem;
    text-align: justify;
    margin: 2rem;
    box-shadow: none !important;
}

footer {
    display: inline-flex;
    width: 100%;
    height: 3rem;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: #333;
    color: var(--background-color);
}
footer span {
    display: inline-flex;
    align-items: center;
}
footer a {
    color: var(--background-color);
    margin: 0.5rem;
}